@import 'tailwindcss';

/* theme 확장 */
@theme {
  --animate-shine: shine 5s linear infinite;

  /* 애니메이션 정의 */
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}
